---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-header">
    <p class="post-meta">
      {% include read_time.html %}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span>
      </span>
      {%- endif -%}
    </p>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="disqus-placeholder">Loading comments...</div>
  <div id="disqus_thread" class="disqus"></div>
  <script src="{{ 'assets/js/disqusloader.js' | relative_url }}"></script>
  <script>
    disqusLoader('.disqus',
      {
        scriptUrl: 'https://fernando-bellincanta-dev.disqus.com/embed.js',
        disqusConfig: function () {
          this.page.url = document.location.href;
          this.page.identifier = document.location.pathname;
          this.callbacks.onReady = [function () {
            var el = document.querySelector('.disqus-placeholder');
            if (el.classList)
              el.classList.add('is-hidden'); // IE 10+
            else
              el.className += ' ' + 'is-hidden'; // IE 8-9
          }];
        }
      });
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
      Disqus.</a></noscript>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
